<!-- Pipes are the way to transform the data directly in your templates. They work as a little tool that take some data, do some processing on it, and then return a nicely formatted output. Also, in order to work with pipe in angular we have to use string interpolation or else it will not work -->

<!-- two types of Pipes. Built in pipes. Custom Pipes. -->

<!-- Built in pipes, comes within the angular which helps to Formatting dates, numbers strings and handling asynchronous dara. -->

<!-- custom pipes: if the built-in pipes are not able to transform the type of data that you wnat, then you can built your own custom pipes to make that thing work -->



<!-- Uppercase Pipe, by using simple JS we have to first make a functiona nd then have ti impliment it again and again but by using Angular we can just make the word go uppercase by just adding | this is pipe symbol and then just typig uppercase and also have to import UpperCasePipe inside the TS file and it will do the Magic -->

<h1> {{ title }} </h1>
<!-- <button (click)="upperCase()" >upper case</button> -->
<!-- this upper example is by using simple JavaScript -->

<!-- this lower example is by using Angular -->
<!-- <h1>{{ title | uppercase }}</h1> -->

<!-- LowerCae Pipe: Same like uppercase we can just import LowerCasePipe in ts file and just put lowecase after | here in HTML and all good  -->

<!-- <h2>{{ title | lowercase }}</h2> -->


<!-- Titlecase Pipe: means putting everything in a title case. means first letter of every word will be capital and rest will be small. Like This -->

<!-- <h1>{{ title | titlecase }}</h1> -->



<!-- Number Pipes: This pipe is used to make the numbers to be in proper way like 1,234 means adding comas to make it properly readable. for this we just added the DecimalPipe in our TS file and just put number after the pipe symbol here in HTML -->

<h1>{{ 1324657.89 | number }}</h1>

<!-- Percent Pipes: Means if we want to show he percentage of some value we just have to add it in decimle like for 70 percent we will put 0.7 and after that percentage pipe which is percent after importing it in the TS file -->

<h1>{{ 0.7 | percent}}</h1>

<!-- Currency Pipe: Just to make the value to be in dollar currency we will use it. same as others first add the currency pipe in TS file and then add it here. -->

<!-- <h1>{{ 2000 | currency }}</h1> -->


<!-- Parameterzied Angular Pipes: so by default the currency sign which will be added is dollar. so if we want to change it we have to specify which sign we want, like for pound we will put the currency code of pund which is GBP inside the '' after the : after the currency pipe. similar to GBP we can add EUR for euro sign and others as well -->

<h1>{{ 2000 | currency : 'GBP' }}</h1>

<!-- If we want to show the currency code instead of symbol use the parameter below. after the code add another : and then put 'code' to show the code instead of the currency symbol -->

<h2>{{ 2000 | currency : 'EUR' : 'code' }}</h2>